openapi: 3.0.3
info:
  title: Introduction to iGrant.io APIs
  description: | 
    This specification is documented in **OpenAPI format**, it describes the RESTFul APIs of iGrant.io.
      
    iGrant.io offers one form of authentication - Bearer authentication

    This form of authentication is a form of authentication scheme that involves security tokens. The client sends this token in the Authorization header when making request.

  version: v2.1.2
servers:
- url: https://api.igrant.io/v1
  description: iGrant.io production server address
- url: http://demo-api.igrant.io/v1
  description: iGrant.io demo server address
- url: https://staging-api.igrant.io/v1
  description: iGrant.io staging server address
security:
- bearerAuth: []
paths:
  /v1.1/users/login:
    post:
      description: Login as user
      operationId: Login as user
      deprecated: false
      security: []
      servers: 
      - url: https://staging-api.igrant.io
        description: Staging server
      - url: http://demo-api.igrant.io
        description: Demo server
      tags:
      - Identity management
      requestBody:
        description: Login credentials
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
              required:
              - username
              - password
            example:
              username: admin@abc.com
              password: qwerty123
      responses:
        "200":
          description: "Returns token and user details"
          content:
            application/json:
              schema:
                type: object
                properties:
                  User:
                    $ref: "#/components/schemas/User"
                  Token:
                    $ref: "#/components/schemas/Token"
        "400":
          description: "Bad request"
        "401":
          description: "Invalid user credentials"

  /users/login:
    post:
      description: Login as user
      operationId: Login as user (old)
      deprecated: true
      security: []
      tags:
      - Identity management
      requestBody:
        description: Login credentials
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
              required:
              - username
              - password
            example:
              username: admin@abc.com
              password: qwerty123
      responses:
        "200":
          description: Returns token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
        "400":
          description: "Bad request"
        "401":
          description: "Invalid user credentials"

  /users/admin/login:
    post:
      description: Login as organisation admin
      operationId: Login as organisation admin
      security: []
      tags:
      - Identity management
      requestBody:
        description: Login credentials
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
              required:
              - username
              - password
            example:
              username: admin@abc.com
              password: qwerty123
        required: true
      responses:
        "200":
          description: "Returns token and user details"
          content:
            application/json:
              schema:
                type: object
                properties:
                  User:
                    $ref: "#/components/schemas/User"
                  Token:
                    $ref: "#/components/schemas/Token"
        "400":
          description: "Bad request"
        "401":
          description: "Invalid user credentials"
          
  /users/logout:
    post:
      security:
      - bearerAuth: []
      tags:
      - Identity management
      description: Logout user
      operationId: Logout user
      requestBody:
        description: Refresh token and clientid
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshtoken:
                  type: string
                clientid:
                  type: string
              required: 
              - refreshtoken
              - clientid
        required: true
      responses:
        "204":
          description: "Logout successful"
        "400":
          description: "Bad request"
          
  /users/token:
    post:
      description: Refreshes an access token
      operationId: Refresh access token
      security: []
      tags:
      - Identity management
      requestBody:
        description: "Refresh token and clientid"
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshtoken:
                  type: string
                clientid:
                  type: string
              required: 
              - refreshtoken
              - clientid
        required: true
      responses:
        "200":
          description: "Returns refreshed token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
        "400":
          description: "Bad request"
          
  /user/password/reset:
    post:
      description: Resets a user password using the current password. 
      operationId: Reset user password
      security: 
      - bearerAuth: []
      tags:
      - Service management (User)
      requestBody:
        description: Current password
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
              example: 
                password: qwerty123
              required: 
              - password
        required: true
      responses:
        "200":
          description: "User password resetted successfully"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
          
  /user/password/forgot:
    put:
      description: Forgot user password is used to request a password reset. A notification is sent to the user reset the password to the registered email ID.
      operationId: Forgot user password
      security: []
      tags:
      - Service management (User)
      requestBody:
        description: Username
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
              example:
                username: admin@abc.com
              required: 
              - password
        required: true
      responses:
        "200":
          description: "User forgot password action handled successfully"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
  
  /users/unregister:
    post:
      description: Unregisters user i.e. removes user from IAM and database
      operationId: Unregisters user
      tags: 
      - Internal
      security: 
      - bearerAuth: []
      responses:
        "200":
          description: "User removed successfully"
        "401":
          description: "Unauthorized"
  
  
  /users/register:
    post:
      description: Registers a new user to the system
      operationId: Register new user
      security: []
      tags:
      - Service management (User)
      requestBody:
        description: User details
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                name:
                  type: string
                password:
                  type: string
                  format: password
                phone:
                  type: string
                isadmin:
                  type: boolean
              required: 
              - username
              - password
              - phone
        required: true
      responses:
        "201":
          description: "User created successfully"
        "409":
          description: "User exists with same username"
        "400":
          description: "Bad request"
  
  /organizations:
    get:
      description: Gets all organisations in the system
      operationId: Get all organisations
      security: 
      - bearerAuth: []
      tags: 
      - Internal
      responses:
        "200":
          description: Returns array of basic organisational detail (along with type information)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: string
                    Name:
                      type: string
                    TypeID:
                      type: string
                    Type:
                      type: string
                example: 
                  - ID: "5dae01aa267e930001609aa4"
                    Name: "iGrant.io Dev"
                    TypeID: "5d95a566a67c8800012f27d1"
                    Type: "RegTech"
        "401":
          description: "Unauthorized"
    post:
      description: Registers an organisation to the system
      operationId: Register an organisation
      security: 
      - bearerAuth: []
      tags: 
      - Service management (Organization)
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                location:
                  type: string
                typeid:
                  type: string
                eulaurl:
                  type: string
                hlcsupport:
                  type: boolean
                description:
                  type: string
              example: 
                name: "Delphyx LLP"
                location: "London, GB"
                typeid: "5f0570c04a05b00001a05cc2"
              required: 
              - name
              - location
              - typeid
        required: true
      responses:
        "201":
          description: Returns created organisation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organisation"
        "401":
          description: "Unauthorized"
  
  /organizations/roles:
    get:
      description: Get the list of organisational user roles
      operationId: Get org user roles
      security: []
      tags:
      - Service management (Organization)
      responses:
        "200":
          description: "Returns the list of organisation roles"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: integer
                    Role:
                      type: string
                example: 
                  - ID: 1
                    Role: Admin
                  - ID: 2
                    Role: Dpo
                  - ID: 3
                    Role: Developer
  /organizations/subscribe-methods:
    get:
      description: Gets all organisation subscription methods configured in the system
      operationId: Get subscription methods
      security: []
      tags:
      - Service management (Organization)
      responses:
        "200":
          description: Returns all organisation subscription methods
          content:
            application/json:
              schema:
                type: object
                properties:
                  Methods:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: integer
                          example: 1
                        Method:
                          type: string
                          example: "Key-Based"
  
  /organizations/search:
    get:
      description: Search organisations by name
      operationId: Search organisation 
      security:
      - bearerAuth: []
      tags: 
      - Internal
      parameters: 
      - in: query
        name: name
        description: Name of the organisation
        schema:
          type: string
          example: dmart
      responses:
        "200":
          description: Returns all organisations matched by the name
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organizations:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                          example: "5daf22d0a531350001afc7c9"
                        Name:
                          type: string
                          example: "DMart Retail Chain"
                        Location:
                          type: string
                          example: "Ernakulam, India"
                        Type:
                          type: string
                          example: "Retail"
                        Subscribed:
                          type: boolean
                          example: false
        "401":
          description: "Unauthorized"
  
  /organizations/data-requests:
    get:
      description: Get all data request states configured in the system
      operationId: Get data request states
      tags:
      - Internal
      security: []
      responses:
        "200":
          description: Returns data request states
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: integer
                    Str:
                      type: string
                example: 
                  - ID: 1
                    Str: Request initiated
                  - ID: 2
                    Str: Request acknowledged
                  - ID: 6
                    Str: Request processed without action
                  - ID: 7
                    Str: Request processed with action
                  - ID: 8
                    Str: Request cancelled by user
  
  /organizations/types:
    get:
      description: Gets all organization category types in the system. E.g. Retail, Banking and finance etc.
      operationId: Get organization types
      tags:
      - Internal
      security: 
      - bearerAuth: []
      responses:
        "200":
          description: Returns all organization types
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: string
                      example: "5d17cc114dacb40001b29094"
                    Type:
                      type: string
                      example: "Retail"
                    ImageID:
                      type: string
                      example: "5d17cc334dacb40002b29093"
                    ImageURL:
                      type: string
                      example: "https://<server-url>/organizations/types/5d17cc334dacb40002b29093/image"
                    
        "401":
          description: "Unauthorized"
    post:
      description: Add an organization type
      operationId: Add organization type
      tags:
      - Internal
      security: 
      - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: Banking
              required: 
              - type
        required: true
      responses:
        "201":
          description: Returns created organization type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganisationType"
        "401":
          description: "Unauthorized"
  /organizations/types/{typeID}:
    get:
      description: Gets organization catogory type by given ID
      operationId: Gets organization type
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: typeID
        required: true
        schema:
          type: string
          example: "5f1c7465fd59960001434c5b"
        description: Organisation type ID
      responses:
        "200": 
          description: Returns the organization type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationType'
        "401":
          description: "Unauthorized"
    
    delete:
      description: Deletes organization type by given ID
      operationId: Deletes organization type
      tags: 
      - Internal
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: typeID
        required: true
        schema:
          type: string
          example: "5f1c7465fd59960001434c5b"
        description: Organisation type ID
      responses:
        "204":
          description: "Successfully deleted organisation type"
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
    
    patch:
      description: Updates an organization category type
      operationId: Update organization type
      tags: 
      - Internal
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: typeID
        required: true
        schema:
          type: string
          example: "5f1c7465fd59960001434c5b"
        description: Organization type ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: Retail
              required: 
              - type
        required: true
      responses:
        "201":
          description: "Return updated organisation type"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationType'
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
  
  /organizations/types/{typeID}/image:
    get:
      description: Gets an organization type image by type ID
      operationId: Get organization type image
      tags: 
      - Internal
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: typeID
        required: true
        schema:
          type: string
          example: "5f1c7465fd59960001434c5b"
        description: Organisation type ID
      responses:
        "200":
          description: "Returns organization type icon"
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
      
    post:
      description: Updates organization type image
      operationId: Update organization type image
      tags: 
      - Internal
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: typeID
        required: true
        schema:
          type: string
          example: "5f1c7465fd59960001434c5b"
        description: Organization type ID
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                orgtypeicon:
                  type: string
                  format: binary
              required:
              - orgtypeicon
        required: true
      responses:
        "200":
          description: "Updated organization type image"
        "500":
          description: "Invalid org type icon file provided"
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
  
  /organizations/{organizationID}:
    get:
      description: Get organization by ID
      operationId: Get organization
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: "Returns organization"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
    delete:
      description: Deletes an organization by ID
      operationId: Delete organization
      tags: 
      - Internal
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "204":
          description: "Deleted organization"
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
    patch:
      description: Updates an organization
      operationId: Update an organization
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                location:
                  type: string
                description:
                  type: string
                policyurl:
                  type: string
      responses:
        "202":
          description: "Updated organization"
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
  
  /organizations/{organizationID}/subscribe-key:
    get:
      description: Gets subscription key if the subscription method is key based
      operationId: Get subscription key
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: Returns the subscription key and method
          content:
            application/json:
              schema:
                type: object
                properties:
                  SubscribeKey:
                    type: string
                    example: "IT43-YO37-I6GG"
                  SubscribeMethod:
                    type: string
                    example: "Key-Based"
        
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/subscribe-key/renew:
    post:
      description: Renew the subscription key if the subscription method is key based
      operationId: Renew the subscription key
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: "Returns the renewed subscription key"
          content:
            application/json:
              schema:
                type: object
                properties:
                  SubscribeKey:
                    type: string
                    example: "69H7-RWT4-CHQJ"
                  SubscribeMethod:
                    type: string
                    example: "Key-Based"
        "400":
          description: "Unable to renew since, existing subscription method is not key based"
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/subscribe-method:
    get:
      description: Get the existing subscription method for an organization
      operationId: Get subscription method
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: "Returns subscription method"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ID:
                    type: integer
                    example: 1
                  Method:
                    type: string
                    example: "Key-Based"
        "401":
          description: "Unauthorized"
    post:
      description: Sets how users can subscribe to an organization
      operationId: Set subscription method
      security: 
      - bearerAuth: []
      tags:
      - Service management (Organization)
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribemethodid:
                  type: integer
                  example: 1
              required: 
              - subscribemethodid
      responses:
        "204": 
          description: "Updated subscription method"
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/subscription:
    get:
      description: Gets the subscription status of an organisation towards users. Used for troubleshooting purposes or used by Enterprise Dashboards.
      operationId: Get subscription status
      tags:
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: Returns subscription status
          content:
            application/json:
              schema:
                type: object
                properties:
                  Enabled:
                    type: boolean
                    example: true
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/subscription/enable:
    post:
      description: "Enable organization for subscription towards users. This is performed once the data model is all uploaded and the organisation is ready for consent management and data exchange. "
      operationId: Enable organization
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: Enabled organisation for subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/subscription/disable:
    post:
      description: Disables an organisation towards users. This can be manually triggered by the organisation as part of maintainenace or can be forced by a super admin, example if the license conditions fail
      operationId: Disable organization
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: Disabled organisation for subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/eulaURL:
    post:
      description: Updates an organization's EULA URL. This is used if the organisation wishes to notify users if there are any updates to its EULA agrements. 
      operationId: Update EULA URL
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                eulaurl:
                  type: string
                  example: "https://igrant.io/eula.html"
              required: 
              - eulaurl
        required: true
      
      responses:
        "202":
          description: "Updated EULA URL for an organization"
        "400":
          description: "Invalid EULA URL provided"
        "401":
          description: "Unauthorized"
    
    delete:
      description: "Deletes an organization EULA URL"
      operationId: Delete aorganization EULA url
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "202":
          description: "Deleted EULA URL for an organization"
        "400":
          description: "Invalid EULA URL provided"
        "401":
          description: "Unauthorized"
      
  /organizations/{organizationID}/purposes:
    post:
      description: Adds a new personal data usage purpose to an organisation. This is provisioned by an organisation during data model upload. The organization is able to give a description towards their users, and the applicable lawful bases for processing, for example as defined in Article 6 of the GDPR.
      operationId: Add usage purpose
      tags:
      - Data model management
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                purposes:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      lawfulusage:
                        type: boolean
                      policyurl:
                        type: string
                    required: 
                    - name
                    - description
                    - policyurl
                    example:
                      name: "Marketing and capmpaign"
                      description: "For this purpose, following personal data attributes shown below are used. You may consent to share your data at attribute level."
                      lawfulusage: false
                      policyurl: "https://igrant.io/policy_default.html"
        required: true
      responses:
        "201":
          description: "Returns organisation (with newly created purposes)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
        
    get:
      description: Gets all the usage purposes defined in the organisation. This information is used towards an organisation list the usage purpose and to obtain user consents.
      operationId: Get all usage purposes
      tags: 
      - Data model management
      security: 
      - bearerAuth: []
      parameters: 
      - in: path
        name: organizationID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "201": 
          description: "Returns all the purposes for an organization"
          content:
            application/json:
              schema:
                type: object
                properties:
                  OrgID:
                    type: string
                    example: "5dae01aa267e930001609aa4"
                  Purposes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Purpose'
        "401":
          description: "Unauthorized"
        
          
  /organizations/{organizationID}/purposes/{purposeID}:
    get:
      description: Gets a particular usage purpose defined in the organisation. This information is used towards an organisation user to obtain user consents.
      operationId: Get a usage purpose
      tags: 
      - Data model management
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      responses:
        "200":
          description: "Returns purpose and associated attributes"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Purpose:
                    $ref: '#/components/schemas/Purpose'
                  Templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
        "401":
          description: "Unauthorized"
    
    delete:
      description: Deletes an existing data usage purpose.
      operationId: Delete a usage purpose
      tags:
      - Data model management
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      responses:
        "201":
          description: "Returns organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
    
    put:
      description: Updates a new personal data usage purpose in an organisation. 
        The organisation is able to modify details provisioned earlier.
      operationId: Update usage purpose
      tags: 
      - Data model management
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                lawfulusage:
                  type: boolean
                policyurl:
                  type: string
              required: 
              - name
              - description
              - policyurl
              example:
                name: "Marketing and campaign"
                description: "For this purpose, following personal data attributes shown below are used. You may consent to share your data at attribute level."
                lawfulusage: false
                policyurl: "https://igrant.io/policy_default.html"
        required: true
      responses:
        "201":
          description: "Returns the organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/templates:
    get:
      description: Gets all attributes and its attached list of one or more usage purposes
      operationId: Get attributes with usage purposes
      tags: 
      - Data model management
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "201":
          description: "Returns attributes and attached purposes"
          content:
            application/json:
              schema:
                type: object
                properties:
                  OrgID:
                    type: string
                    example: "5dae01aa267e930001609aa4"
                  Templates:
                    type: array
                    items:
                      allOf:
                      - $ref: "#/components/schemas/Template"
                      - type: object
                        properties:
                          PurposeIDs:
                            type: array
                            items:
                              type: string
                        example:
                          PurposeIDs:
                          - "5db0303ba531350001afc7e0"
                          - "5db03048a531350001afc7e1"
          
        "401":
          description: "Unauthorized"
    
    post:
      description: Adds an attribute and attaches it one or more pre-defined usage purposes
      operationId: Add attribute to purpose
      tags: 
      - Data model management
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                templates:
                  type: array
                  items:
                    type: object
                    properties:
                      consent:
                        type: string
                        example: "Age"
                      purposeids:
                        type: array
                        items:
                          type: string
                        example:
                        - "5f1c9298fd59960001434c6d"
                    required: 
                    - consent
                    - purposeids
              required: 
              - templates
        required: true
      
      responses:
        "201":
          description: "Returns organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/templates/{templateID}:
    delete:
      description: Deletes an attribute and the detaches it from a usage purpose
      operationId: Delete attribute
      tags: 
      - Data model management
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: templateID
        required: true
        description: Attribute ID
        schema:
          type: string
          example: "5f1c9ae4fd59960001434c6f"
      responses:
        "201":
          description: "Returns organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
    
    put:
      description: Updates an attribute details, attaches or detaches to one or more purposes
      operationId: Update attribute
      tags: 
      - Data model management
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: templateID
        required: true
        description: Attribute ID
        schema:
          type: string
          example: "5f1c9ae4fd59960001434c6f"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                consent:
                  type: string
                  example: "Age"
                purposeids:
                  type: array
                  items:
                    type: string
                  example:
                  - "5f1c9298fd59960001434c6d"
              required: 
              - consent
              - purposeids
      responses:
        "201":
          description: "Returns organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/admins:
    get:
      description: Gets all admin users of an organisation. The various user types include admins, DPOs and developers
      operationId: Get organisation admins
      tags: 
      - Internal
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: "Return organisation admins"
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    UserID:
                      type: string
                      example: "5dae01aa267e930001609aa3"
                    Role:
                      type: string
                      example: "Admin"
        "401":
          description: "Unauthorized"
    
    post:
      description: Add admins, dpo and other roles to organization users. 
      operationId: Add organisation roles
      tags: 
      - Internal
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userid:
                  type: string
                  example: "5dbc02ecb99fd0000157547a"
                roleid:
                  type: integer
                  example: 1
              required: 
              - userid
              - roleid
        required: true
      
      responses:
        "201":
          description: "Returns organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
    
    # Todo: Fix delete operation cannot have request body
    delete:
      description: Deletes an admin user from an organization
      operationId: Delete admin user
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      # requestBody:
      #   content:
      #     application/json:
      #       schema:
      #         type: object
      #         properties:
      #           userid:
      #             type: string
      #             example: "5dbc02ecb99fd0000157547a"
      #           roleid:
      #             type: integer
      #             example: 1
      #         required: 
      #         - userid
      #         - roleid
      #   required: true
      responses:
        "200":
          description: "Returns organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/coverimage:
    post:
      description: Updates an organizations cover image. This images are seen by the users in their app, portal etc.
      operationId: Update org cover image
      tags:
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                orgimage:
                  type: string
                  format: binary
              required:
              - orgimage
        required: true
      responses:
        "200":
          description: "Returns organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/image/{imageID}:
    get:
      description: Gets the organization image with the image ID
      operationId: Get org image
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: imageID
        required: true
        description: Image ID
        schema:
          type: string
          example: "5d95a5c0a67c8800012f27d2"
      responses:
        "200":
          description: "Returns organization image"
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
  
  /organizations/{organizationID}/image/{imageID}/web:
    get:
      description: Gets an organization cover image
      operationId: Get org cover image
      tags: 
      - Internal
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: imageID
        required: true
        description: Image ID
        schema:
          type: string
          example: "5d95a5c0a67c8800012f27d2"
      responses:
        "200":
          description: "Returns organization image"
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "404":
          description: "404 not found"
  
  /organizations/{organizationID}/logoimage:
    post:
      description: Updates an organization logo image
      operationId: Updates logo image
      tags:
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                orgimage:
                  type: string
                  format: binary
              required:
              - orgimage
        required: true
      responses:
        "200":
          description: "Returns organisation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organization:
                    $ref: '#/components/schemas/Organisation'
        "401":
          description: "Unauthorized"
          
  /organizations/{organizationID}/users:
    get:
      description: Gets the list of users who are subscribed or registerd with an organisation
      operationId: Get subscribed users
      tags:
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: query
        name: limit
        required: false
        description: Pagination limit (No of results)
        schema:
          type: integer
          example: 20
      - in: query
        name: startid
        required: false
        description: Pagination start offset (ID of the result object for e.g. user ID, organisation ID e.t.c.)
        schema:
          type: string
          example: "5db0181fa531350001afc7d5"
      responses:
        "200":
          description: Returns organization users
          content:
            application/json:
              schema:
                type: object
                properties:
                  Users:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                          example: "5e8468d19380c40001f3ef69"
                        Name:
                          type: string
                          example: "Joseph George"
                        Phone:
                          type: string
                          example: "+467252844669"
                        Email:
                          type: string
                          example: "george@orgmail.com"
                  Links:
                    type: object
                    properties:
                      Self:
                        type: string
                        example: "https://<image-server>/5dae01aa267e930001609aa4/users?limit=20"
                      Next:
                        type: string
                        example: "https://<image-server>/5dae01aa267e930001609aa4/users?limit=1&startid=5e833b4d9380c40001f3ef65"
                        
        "401":
          description: Unauthorized
      
    post:
      description: Provisions individual users to organisations. This is used when organisation onboards their users or when users subscribe to organisations, for example in a data wallet.
      operationId: Add user to organization
      tags:
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userid:
                  type: string
                  example: "5f0c2ec1d6f0970001fae263"
                subscribekey: 
                  type: string
                  example: "GBDL-SQPR-QN1O"
      responses:
        "200":
          description: "Returns the added user"
          content:
            application/json:
              schema:
                type: object
                properties:
                  User:
                    $ref: '#/components/schemas/User'
        "400":
          description: "Invalid subscription token"
        "401":
          description: "Unauthorized"
  
  /organizations/{organizationID}/users/count:
    get:
      description: Gets the total number of users subscribed to an organisation
      operationId: Get total subscribed users
      tags:
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: Returns subscribed users count
          content:
            application/json:
              schema:
                type: object
                properties:
                  SubscribeUserCount:
                    type: integer
                    example: 7
        "401":
          description: "Unauthorized"
  
  
  /organizations/{organizationID}/users/{userID}:
    delete:
      description: Removes user from  an organization
      operationId: Remove user
      tags:
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organisation ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      responses:
        "200":
          description: Returns the user (with updated orgs)
          content:
            application/json:
              schema:
                type: object
                properties:
                  User:
                    $ref: '#/components/schemas/User'
        "401":
          description: Unauthorized
          
  
  /users:
    get:
      description: "Get all users"
      operationId: "Get all users"
      tags:
      - Internal
      security:
      - bearerAuth: []
      responses:
        "200":
          description: "Return all the users"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: string
                      example: "5dae01aa267e930001609aa3"
                    Email:
                      type: string
                      example: "dmart@yopmail.com"
                    Name:
                      type: string
                      example: "Ravi Shankar"
        "401":
          description: "Unauthorized"
                  
    post:
      description: "Add user to the system"
      operationId: "Add user"
      tags:
      - Internal
      security: 
      - bearerAuth: []
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  example: "+12222332233"
                name:
                  type: string
                  example: "Donny Yang"
              required:
              - phone
              - name
        required: true
      responses:
        "201":
          description: "Return created user"
          content:
            application/json:
              schema:
                type: object
                properties:
                  User:
                    $ref: '#/components/schemas/User'
        "401":
          description: "Unauthorized"
        "500":
          description: "Invalid request payload"
  
  /users/{userID}:
    get:
      description: Get user by ID
      operationId: Get user by ID
      tags:
      - Internal
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      responses:
        "200":
          description: Returns the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  User:
                    $ref: '#/components/schemas/User'
        "500":
          description: Invalid user ID
        "401":
          description: Unauthorized
    delete:
      description: Delete user
      operationId: Delete user
      tags:
      - Internal
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      responses:
        "204":
          description: "Deleted the user"
        "404":
          description: "User not found"
        "401":
          description: "Unauthorized"
  
  /users/{userID}/image/{imageID}:
    get:
      description: Get the image for a particular user
      operationId: Get user image
      tags:
      - Service management (User)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: path
        name: imageID
        required: true
        description: Image ID
        schema:
          type: string
          example: "5f1d727bfd59960001434c79"
      responses:
        "200":
          description: "Returns user image"
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
  
  /users/{userID}/image/{imageID}/web:
    get:
      description: Get the image for a particular user
      operationId: Get users image
      tags:
      - Internal
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: path
        name: imageID
        required: true
        description: Image ID
        schema:
          type: string
          example: "5f1d727bfd59960001434c79"
      responses:
        "200":
          description: "Returns user image"
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "401":
          description: "Unauthorized"
        "404":
          description: "404 not found"
  
  /users/{userID}/image:
    post:
      description: Updates the image of a particular user
      operationId: Update users image
      tags:
      - Service management (User)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                userimage:
                  type: string
                  format: binary
              required:
              - userimage
        required: true
      responses:
        "200":
          description: Returns user
          content:
            application/json:
              schema:
                type: object
                properties:
                  User:
                    $ref: '#/components/schemas/User'
        "500":
          description: Invalid user image provided
        "401":
          description: Unauthorized
    
    delete:
      description:  Deletes a particular user image
      operationId: Delete user image
      tags:
      - Service management (User)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      responses:
        "200":
          description: Returns user
          content:
            application/json:
              schema:
                type: object
                properties:
                  User:
                    $ref: '#/components/schemas/User'
        "401":
          description: Unauthorized
      
  /users/{userID}/organizations:
    get:
      description: Gets details of all organizations subscribed by the user
      operationId: Get subscribed organisations
      tags:
      - Internal
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: query
        name: typeID
        required: false
        description: Organization type ID (for filtering)
        schema:
          type: string
          example: "5d17cc114dacb40001b29094"
      responses:
        "200":
          description: Returns subscribed organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  UserOrganizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organisation'
        "401":
          description: Unauthorized
      
    
  # Same as GetConsentByID
  /organizations/{orgID}/users/{userID}/consents:
    get:
      operationId: Get consents for a user
      description: Get consents for a particular user. This will include all consents given  for the defined usage purposes and data attributes within the usage purpose.
      tags:
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      responses:
        "200":
          description: Return consents and purposes
          content:
            application/json:
              schema:
                type: object
                properties:
                  ID:
                    type: string
                    example: "5e4e91036c7aa200012aa9da"
                  OrgID:
                    type: string
                    example: "5dae01aa267e930001609aa4"
                  UserID:
                    type: string
                    example: "5dbc02ecb99fd0000157547a"
                  ConsentsAndPurposes:
                    type: array
                    items:
                      type: object
                      properties:
                        Purpose:
                          $ref: '#/components/schemas/Purpose'
                        Count:
                          type: object
                          properties:
                            Total:
                              type: integer
                              example: 4
                            Consented:
                              type: integer
                              example: 4
                        Consents:
                          type: array
                          items:
                            $ref: '#/components/schemas/AttributeConsent'
                          
        "401":
          description: Unauthorized
          
          
  /organizations/{orgID}/users/{userID}/consents/{consentID}:
    get:
      operationId: Gets user consent 
      description: Get user consent by ID
      tags:
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: path
        name: consentID
        required: true
        description: Consent ID
        schema:
          type: string
          example: "5e4e91036c7aa200012aa9da"
      responses:
        "200":
          description: Return consents and purposes
          content:
            application/json:
              schema:
                type: object
                properties:
                  ID:
                    type: string
                    example: "5e4e91036c7aa200012aa9da"
                  OrgID:
                    type: string
                    example: "5dae01aa267e930001609aa4"
                  UserID:
                    type: string
                    example: "5dbc02ecb99fd0000157547a"
                  ConsentsAndPurposes:
                    type: array
                    items:
                      type: object
                      properties:
                        Purpose:
                          $ref: '#/components/schemas/Purpose'
                        Count:
                          type: object
                          properties:
                            Total:
                              type: integer
                              example: 4
                            Consented:
                              type: integer
                              example: 4
                        Consents:
                          type: array
                          items:
                            $ref: '#/components/schemas/AttributeConsent'
                          
        "401":
          description: Unauthorized        
  
  /organizations/{orgID}/users/{userID}/consents/{consentID}/purposes/{purposeID}:
    get:
      description: Gets all the consents for a given purpose by ID
      operationId: Get all purpose consents
      tags: 
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: path
        name: consentID
        required: true
        description: Consent ID
        schema:
          type: string
          example: "5e4e91036c7aa200012aa9da"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      responses:
        "200":
          description: Return consents for a given purpose
          content:
            application/json:
              schema:
                type: object
                properties:
                  ID:
                    type: string
                    example: "5e4e91036c7aa200012aa9da"
                  ConsentID:
                    type: string
                    example: "5e4e91036c7aa200012aa9da"
                  OrgID:
                    type: string
                    example: "5dae01aa267e930001609aa4"
                  UserID:
                    type: string
                    example: "5dbc02ecb99fd0000157547a"
                  Consents:
                    type: object
                    properties:
                      Purpose:
                        $ref: '#/components/schemas/Purpose'
                      Count:
                        type: object
                        properties:
                          Total:
                            type: integer
                            example: 4
                          Consented:
                            type: integer
                            example: 4
                      Consents:
                        type: array
                        items:
                          $ref: '#/components/schemas/AttributeConsent'
                          
        "401":
          description: Unauthorized
    
    patch:
      description: Update attribute consent for a given purpose
      operationId: Update consents for attribute
      deprecated: true
      tags: 
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: path
        name: consentID
        required: true
        description: Consent ID
        schema:
          type: string
          example: "5e4e91036c7aa200012aa9da"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consentattributes:
                  type: array
                  items:
                    type: object
                    properties:
                      attributeid:
                        type: string
                        example: "5dae01ee267e930001609aa8"
                    required:
                    - attributeid
                consented:
                  type: string
                  example: "Allow"
              required:
              - consentattributes
              - consented
      responses:
        "200":
          description: "Returns consents for the purpose"
          content:
            application/json:
              schema:
                type: object
                properties:
                  ID:
                    type: string
                    example: "5e4e91036c7aa200012aa9da"
                  OrgID:
                    type: string
                    example: "5dae01aa267e930001609aa4"
                  UserID:
                    type: string
                    example: "5dbc02ecb99fd0000157547a"
                  Purposes:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                          example: "5dae1058a1215e00012103d8"
                        AllowAll:
                          type: boolean
                          example: false
                        Consents:
                          type: array
                          items:
                            type: object
                            properties:
                              Status:
                                type: object
                                properties:
                                  Consented:
                                    type: string
                                    example: "Allow"
                                  TimeStamp:
                                    type: string
                                    format: date-time
                                    example: "0001-01-01T00:00:00Z"
                                  Days:
                                    type: integer
                                    example: 0
                              Value:
                                type: string
                                example: ""
                              TemplateID:
                                type: string
                                example: "5dae01f4267e930001609aa9"
        "400":
          description: "Invalid request payload"
        "404":
          description: "Not found"
        "401":
          description: "Unauthorized"
  
  /organizations/{orgID}/users/{userID}/consents/{consentID}/purposes/{purposeID}/status:
    get:
      deprecated: false
      description: Gets all consent attributes status for a given usage purpose
      operationId: Get all consents
      tags: 
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: path
        name: consentID
        required: true
        description: Consent ID
        schema:
          type: string
          example: "5e4e91036c7aa200012aa9da"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      
      responses:
        "200":
          description: Return all consent attributes status for a given usage purpose
          content:
            application/json:
              schema:
                type: object
                properties:
                  Consented:
                    type: string
                    example: "Disallow"
        "401":
          description: Unauthorized
    
    post:
      description: Updates all attribute consents of a given purpose
      operationId: Updates attribute consents for purpose
      tags: 
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: path
        name: consentID
        required: true
        description: Consent ID
        schema:
          type: string
          example: "5e4e91036c7aa200012aa9da"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consented:
                  type: string
                  example: "Allow"
              required: 
              - consented
      
      responses:
        "200":
          description: Return consents and purposes
          content:
            application/json:
              schema:
                type: object
                properties:
                  ID:
                    type: string
                    example: "5e4e91036c7aa200012aa9da"
                  OrgID:
                    type: string
                    example: "5dae01aa267e930001609aa4"
                  UserID:
                    type: string
                    example: "5dbc02ecb99fd0000157547a"
                  ConsentsAndPurposes:
                    type: array
                    items:
                      type: object
                      properties:
                        Purpose:
                          $ref: '#/components/schemas/Purpose'
                        Count:
                          type: object
                          properties:
                            Total:
                              type: integer
                              example: 4
                            Consented:
                              type: integer
                              example: 4
                        Consents:
                          type: array
                          items:
                            $ref: '#/components/schemas/AttributeConsent'
                          
        "401":
          description: Unauthorized 
  
  /organizations/{orgID}/users/{userID}/consents/{consentID}/purposes/{purposeID}/attributes/{attributeID}:
    patch:
      description: Updates a single attribute consent for a usage purpose
      operationId: Update an attribute consent
      tags:
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: userID
        required: true
        description: User ID
        schema:
          type: string
          example: "5dbc02ecb99fd0000157547a"
      - in: path
        name: consentID
        required: true
        description: Consent ID
        schema:
          type: string
          example: "5e4e91036c7aa200012aa9da"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      - in: path
        name: attributeID
        required: true
        description: Attribute ID
        schema:
          type: string
          example: "5dae01ee267e930001609aa8"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consented:
                  type: string
                  example: "Allow"
                days:
                  type: integer
                  example: 0
              required:
              - consented
              - days
      responses:
        "200":
          description: Consent updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  Msg:
                    type: string
                    example: Consent updated successfully
                  Status:
                    type: integer
                    example: 200
        "401":
          description: Unauthorized
  
  
  /organizations/{orgID}/purposes/{purposeID}/attributes/consent:
    post:
      description: Make special request for consent for an attribute for all users in this organization. A notification is sent if the user consent is not present for the given attribute i.e. it is Disallow (as a notification to mobile app)
      operationId: Notify consent requests
      tags:
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                attributeids:
                  type: array
                  items:
                    type: string
                    example: "5f1df5c84e26ea0001b9f3a7"
      
      responses:
        "202":
          description: "Notification requesting attribute consent is sent to user devices"
        "401":
          description: "Unauthorized"
                      
  /organizations/{orgID}/notify-data-breach:
    post:
      description: Notifies all subscribed users of any data breaches that has occured 
        in the organisation. This, for example, is as per Art. 34 GDPR (Communication of 
        a personal data breach to the data subject) and can be used for this purpose.
      operationId: Notify data breach
      tags:
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                headline:
                  type: string
                  example: Data breach alert
                userscount:
                  type: integer
                  example: 200
                dpoemail:
                  type: string
                  example: dpo@abc.com
                consequence:
                  type: string
                  example: Exposed authentication credentials of some of the clients
                measures:
                  type: string
                  example: Update the account passwords within 24hours
              required: 
              - headline
              - dpoemail
              - consequence
              - measures
      responses:
        "202":
          description: "Data breach notification send to the users"
        "400":
          description: "Invalid request payload"
        "401":
          description: "Unauthorized"
      
  /organizations/{orgID}/notify-events:
    post:
      description: Notifies all subscribed users about general events
      operationId: Notify events
      tags: 
      - Service management (Organization)
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                details:
                  type: string
                  example: "General event notification"
              required:
              - details
      responses:
        "202":
          description: "General event notification send to the users"
        "400":
          description: "Invalid request payload"
        "401":
          description: "Unauthorized"
  
  /organizations/{orgID}/purposes/{purposeID}/attributes/{attributeID}/consented/users:
    get:
      description: Gets all users who consented to a given attribute for an usage purpose
      operationId: Get all consented users (Attribute)
      tags:
      - Permissions and consents
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      - in: path
        name: attributeID
        required: true
        description: Attribute ID
        schema:
          type: string
          example: "5dae01ee267e930001609aa8"
      responses:
        "200":
          description: Returns users
          content:
            application/json:
              schema:
                type: object
                properties:
                  Users:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                          example: "5dbc02ecb99fd0000157547a"
                        Name:
                          type: string
                          example: "Donny Yang"
                        Phone:
                          type: string
                          example: "+44 7744 156699"
                        Email:
                          type: string
                          example: "donny@yopmail.com"
                  Links:
                    type: object
                    properties:
                      Self:
                        type: string
                        example: "https://<server-url>/5dae01aa267e930001609aa4/purposes/5dae1058a1215e00012103d8/attributes/5dae106ba1215e00012103d9/consented/users?limit=50"
                      Next:
                        type: string
                        example: "https://<server-url>/5dae01aa267e930001609aa4/purposes/5dae1058a1215e00012103d8/attributes/5dae106ba1215e00012103d9/consented/users?limit=50&startid=5dbc02ecb99fd0000157547a"
        "401":
          description: Unauthorized
  
  /organizations/{orgID}/purposes/{purposeID}/consented/users:
    get:
      description: Gets all users who consented to a given usage purpose
      operationId: Get all consented users (Purpose)
      tags:
      - Permissions and consents
      security: 
      - bearerAuth: []
      
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      - in: query
        name: limit
        required: false
        description: Pagination limit
        schema:
          type: integer
          example: 40
      - in: query
        name: startid
        required: false
        description: Pagination start ID (for e.g. action log ID)
        schema:
          type: string
          example: "5db6c4d3181e17c64776e741"
      
      responses:
        "200":
          description: Returns users
          content:
            application/json:
              schema:
                type: object
                properties:
                  Users:
                    type: array
                    items:
                      type: object
                      properties:
                        ID:
                          type: string
                          example: "5dbc02ecb99fd0000157547a"
                        Name:
                          type: string
                          example: "Donny Yang"
                        Phone:
                          type: string
                          example: "+44 7744 156699"
                        Email:
                          type: string
                          example: "donny@yopmail.com"
                  Links:
                    type: object
                    properties:
                      Self:
                        type: string
                        example: "https://<server-url>/5dae01aa267e930001609aa4/purposes/5dae1058a1215e00012103d8/consented/users?limit=50"
                      Next:
                        type: string
                        example: "https://<server-url>/5dae01aa267e930001609aa4/purposes/5dae1058a1215e00012103d8/consented/users?limit=50&startid=5db0181fa531350001afc7d5"
        "401":
          description: Unauthorized
  
  /organizations/{orgID}/logs:
    get:
      description: Gets all action logs for an organization
      operationId: Get logs
      tags:
      - Logging and accountability
      security: 
      - bearerAuth: []
      
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      
      - in: query
        name: limit
        required: false
        description: Pagination limit
        schema:
          type: integer
          example: 40
      - in: query
        name: startid
        required: false
        description: Pagination start ID (for e.g. action log ID)
        schema:
          type: string
          example: "5db6c4d3181e17c64776e741"
      responses:
        "200": 
          description: Returns organisation logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  Logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganisationActionLog'
                  Links:
                    type: object
                    properties:
                      Self:
                        type: string
                        example: "https://staging-api.igrant.io/v1/organizations/5dae01aa267e930001609aa4/logs?limit=50"
                      Next:
                        type: string
                        example: "https://staging-api.igrant.io/v1/organizations/5dae01aa267e930001609aa4/logs?startid=5db6c4d1181e17c64776e72a&limit=50"
                    
        "401":
          description: Unauthorized
  
  /organizations/{organizationID}/qrcode:
    post:
      description: Generates a QR code for organization
      operationId: Generate org QR code
      tags:
      - Personal data transfer
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      responses:
        "200":
          description: Returns organization QR code
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
    get:
      description: Gets an organization QR code
      operationId: Get org QR code
      tags:
      - Personal data transfer
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      
      responses:
        "200":
          description: Returns organization QR code
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
        "500":
          description: QR code does not exist
    
    delete:
      description: Deletes an organization QR code
      operationId: Delete org QR code
      tags:
      - Personal data transfer
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: organizationID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      
      responses:
        "204":
          description: Deleted organization QR code
        "401":
          description: Unauthorized
        "500":
          description: QR code doesnot exist
  
  /organizations/{orgID}/qrcode/web:
    get:
      description: Get organization QR code (web)
      operationId: Get org QR code (web)
      tags:
      - Personal data transfer
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      
      responses:
        "200":
          description: Returns organization QR code
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
        "500":
          description: QR code does not exist
  
  /organizations/{orgID}/purposes/{purposeID}/qrcode:
    get:
      description: Gets an organization QR code created for a particular usage purpose
      operationId: Get purpose QR code
      tags:
      - Personal data transfer
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      responses:
        "200":
          description: Returns purpose QR code
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
        "500":
          description: QR code does not exist
    post:
      description: Generates a QR code for an organization for a particular usage purpose
      operationId: Generate purpose QR code
      tags:
      - Personal data transfer
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      responses:
        "200":
          description: Returns purpose QR code
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
        "500":
          description: QR code does not exist
    
    delete:
      description: Deletes an organization's purpose level QR code
      operationId:  Delete purpose QR code
      tags:
      - Personal data transfer
      security: 
      - bearerAuth: []
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      responses:
        "204":
          description: Deleted purpose QR code
        "401":
          description: Unauthorized
        "500":
          description: QR code doesnot exist
  
  /organizations/{orgID}/purposes/{purposeID}/qrcode/web:
    get:
      description: Gets the QR code for an organization for a particular usage purpose that was generated earlier (web)
      operationId: Get purpose QR code (web)
      tags:
      - Personal data transfer
      parameters:
      - in: path
        name: orgID
        required: true
        description: Organization ID
        schema:
          type: string
          example: "5dae01aa267e930001609aa4"
      - in: path
        name: purposeID
        required: true
        description: Purpose ID
        schema:
          type: string
          example: "5dae01e8267e930001609aa7"
      responses:
        "200":
          description: Returns purpose QR code
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized
        "500":
          description: QR code doesnot exist
  
  /organizations/{orgID}/data-requests:
    get:
[...]
